includes:
    - ../../extension.neon

parameters:
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
        checkedExceptionClasses:
            - RuntimeException
